

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
*{box-sizing: border-box;	
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	padding-bottom: 0;}
	
// nav
.nav{	
	height: 60px;				
	background-color: #8A2BE2;
	border-bottom: 2px solid #F4A460;
	
	
	.container{
		display:flex;
		justify-content: space-between;
		align-items: center;
		.menu{margin-top: 15px;
			a{text-decoration: none;}
			li{	padding-right: 15px;			
				display: inline;
				font-size: 20px;
				color: #F4A460;}
				}}	
}


	// .promo
.promo{	position: relative;	
	background: url("../images/img_111.jpg") center (center/cover) ;			
		
		
	
	
		h1{	padding-top: 50px;
			text-align: center;
			font-weight: 600;
			color: #F4A460;
			font-size: 45px;}	
		.preparation{
				position: relative;
				width: 400px;
				height: 400px;
				background-color:#F4A460;																		
				z-index: 10;}
					.preparation2{	position: absolute;								
									display: inline;
									top: -8px;
									left: -8px;
									width: 400px;		
									height: 400px;
									background-image:url("../images/IMG_20220427_144314.jpg");
									background-size: cover  ;
									border:2px solid #8A2BE2;						
									z-index:1;}	
											
										
						
		
		.container{	display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 50px;
					}	
		.promo_text{width: 50%;
					font-weight:400 ;
					color: #F4A460;
					font-size: 25px;}
								
		}


// fotorama
.fotorama{
 	padding: 30px 30px;
	.container{
		display: flex;
		justify-content: center;
		.slider{	
			width: 80%;
				.foto{	height: 500px;		
						width: 100%;					
						border: 3px solid #F4A460;}
		}			
	 }			
}
// footer
footer{			height: 60px;
				background-color: #8A2BE2;
				border-top: 2px solid #F4A460;
				.container{
					display: flex;
					justify-content: space-between;
					padding-top: 10px;
				}
			.icon_vk{
				width: 45px;
				height: 45px;
			}
			.btn_top{
				display: block;
				height: 45px;
				border: 3px solid #F4A460;
				border-radius: 8px;
				color:#F4A460;
				background-color:#8A2BE2 ;				
			}
			a{
				text-decoration: none;
			}
}



@media screen and (max-width :992px){
	.promo .container{
		flex-direction: column;
		margin-top: 15px;
		.promo_text{width: 100%;
			margin-top: 30px;
			font-size: 25px;}	
}
	.promo .preparation {	width:300px;
							height: 300px;
							.preparation2{	width:300px;
											height: 300px;}	}	
							}
.fotorama{
		padding: 30px 30px;
		 .container{
		   display: flex;
		   justify-content: center;
		   .slider{	
			   width: 80%;
				   .foto{	height: 450px;		
						   width: 100%;					
						   border: 3px solid #F4A460;}
								   }			
								}												
							}												
@media screen and (max-width :768px){
	
		.promo .container{
			flex-direction: column;
			margin-top: 15px;
			.promo_text{width: 100%;
				margin-top: 40px;
				font-size: 20px;
				text-align: center;}	
	}
			.promo .preparation {	width:300px;
									height: 300px;
										.preparation2{	width:300px;
														height: 300px;}	}	
.fotorama{
	padding: 0;
	 .container{
		 margin-top: 0;
		 padding: 40px 20px;
	   display: flex;
	   justify-content: center;
	   .slider{	
		   width: 80%;
			   .foto{	height: 325px;		
					   width: 100%;					
					   border: 3px solid #F4A460;}
																					   }			
																					}												
																				}
																			}																														
@media screen and (max-width :576px){
	.promo{
		h1{padding-top:25px;
			font-size: 30px;}	
	}
	
	.promo .preparation {	width:230px;
							height: 230px;
							.preparation2{	width:230px;
											height: 230px;}	}	
	.promo .container{
	flex-direction: column;
	margin-top: 15px;
				.promo_text{width: 100%;
							margin-top: 30px;
							font-size: 20px;}							
	}	
	.fotorama{
		padding: 0;
		 .container{
			 margin-top: 0;
			 padding: 40px 20px;
		   display: flex;
		   justify-content: center;
		   .slider{	
			   width: 80%;
				   .foto{	height: 220px;		
						   width: 100%;					
						   border: 3px solid #F4A460;}
																						   }			
																						}												
																					}
																			

	footer{
			.container .icon_vk{
				
							width: 35px;
							height: 35px;
				}
				.container .btn_top{
					height: 35px;
				}
						}
}						
				
	
@media screen and (max-width :320px){
	.nav .container .menu li{
		font-size: 15px;
	}
	.promo{
		h1{padding-top:25px;
			font-size: 25px;}	
	}
	
	.promo .preparation {	width:180px;
							height: 180px;
							.preparation2{	width:180px;
								height: 180px;}	}	
	.promo .container{
	flex-direction: column;
	padding-top:0;
	margin-top: 30px;
				.promo_text{width: 100%;
							margin-top: 30px;
							font-size: 20px;
							word-break: break-all;	}							
	}	
	.fotorama{
		padding: 0;
		 .container{
			 margin-top: 0;
			 padding: 40px 20px;
		   display: flex;
		   justify-content: center;
		   .slider{	
			   width: 80%;
				   .foto{	height: 180px;		
						   width: 100%;					
						   border: 3px solid #F4A460;}
																						   }			
																						}												
																					}

}